<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Recon Bolt</title>
        <link rel="stylesheet" href="master.css">
    </head>
    <body>
        <div class="center">
            <h1 class="coolfont">Under Construction</h1>
            <img src="fp.webp" alt="">
        </div>
    </body>
</html>