<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Recon Bolt</title>
        <link rel="stylesheet" href="master.css">
    </head>
    <body style="background-image: url('bg.png');">
        <div class="center">
            <img src="construction.gif" alt="">
        </div>
    </body>
</html>